@rendermode InteractiveServer

<nav class="to-black/0 via-black/80 z-40 sticky top-0 flex h-20 w-full bg-gradient-to-b from-black from-40% via-75% px-10 lg:px-32 xl:px-48 2xl:px-72">

    <!-- MonsterASP Full Text Logo -->
    <!-- ------------------------- -->
    <div class="flex w-full items-end justify-between">
        <img loading="lazy" src="/images/Full Text Logo.webp" width="220" height="61" alt="MonsterASP Full Text Logo" />
    </div>

    <!-- Navigation -->
    <!-- ------------------------- -->
    <div class="hidden w-full items-center justify-around rounded-3xl align-middle lg:flex">
        <NavLink class="font-sg" href="/">Home</NavLink>
        <NavLink class="font-sg" href="/about">About</NavLink>
        <NavLink class="font-sg" href="/plans">Plans</NavLink>

        <!-- Control Panel Redirect -->
        <!-- ------------------------- -->
        <button class="font-sg border-2 rounded-lg border-primary px-3 py-2">
            <p class="flex text-violet-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
                </svg>
                <span class="ml-3">Control Panel</span>
            </p>

        </button>

    </div>

    <!-- Mobile Menu -->
    <!-- ------------------------- -->
    @if(showMenu){
        <div class="to-black/0 via-black/80 absolute right-0 top-0 flex h-screen w-72 flex-col items-end space-y-10 bg-gradient-to-l from-black px-10 pt-5 lg:hidden">
            <button class="flex" aria-label="Close Menu" @onclick="HideMenu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </button>
            <NavLink class="font-sg" href="/">Home</NavLink>
            <NavLink class="font-sg" href="/about">About</NavLink>
            <NavLink class="font-sg" href="/plans">Plans</NavLink>
        </div>
    }
    else
    {
        <button aria-label="Open Menu" class="items-center justify-center lg:hidden" @onclick="ShowMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    }
    

</nav>

@code {
    private bool showMenu;

    private void ShowMenu() => showMenu = true;
    private void HideMenu() => showMenu = false;
}
