@page "/404"
<PageTitle>Page Not Found | MonsterASP.NET</PageTitle>
<HeadContent>
    <meta name="robots" content="noindex" />
</HeadContent>
<Container Border="bg-red m-10 " Class="flex flex h-full w-full flex-col bg-gray">
    <h1 class="font-sg text-4xl font-bold">Page Not Found <span class="italic text-red opacity-85">[Error 404]</span></h1>
    <p class="font-light opacity-50">You seem to be accessing a page that is either down or non-existent. Sorry.</p>
</Container>
@code {

}