@inherits LayoutComponentBase

<div class="font-inter h-screen w-screen overflow-x-hidden overflow-y-scroll bg-black text-white">

    <NavigationMenu/>

    @Body
</div>

<div id="blazor-error-ui" class="border-2 font-sg absolute bottom-0 mb-2 w-full rounded-3xl border-red bg-red bg-opacity-25 p-3 text-white">
    An unhandled error has occurred.
    <a href="" class="reload text-blue-500 underline">Reload</a>
    @* removed for SEO purposes <a class="dismiss text-blue-500">🗙</a> *@
</div>
